@media only screen 
and (max-width : 1019px) {
    .leftside {
        display: none;
    }
    .rightside {
        display: none;
    }
    .bottom {
        display: fixed;
    }
}

@media only screen 
and (min-width : 1020px) {
    .leftside {
        display: fixed;
    }
    .rightside {
        display: fixed;
    }
    .bottom {
        display: none;
    }
}